bmtrain==1.0.0
datasets==3.2.0
faiss==1.5.3
fastchat==0.1.0
flash_attn==2.7.4.post1
fuzzywuzzy==0.18.0
jieba==0.42.1
model_center==1.0.2
numpy==2.2.2
omegaconf==2.3.0
pandas==2.2.3
rouge==1.0.1
sentence_transformers==3.2.1
torch==2.4.0+cu118
tqdm==4.67.1
transformers==4.41.0
triton==2.1.0
